<div align="center" class="events">
    <div class="box">
        <img id="events-img" src="/assets/events_top.jpg" alt="workshop event"/>
        <div class="transparent-layer"></div>
        <div class="container img-text">
            <h1>Events</h1>
            <p>Our events are open to anyone with an interest in game development.
            In the past, they have included talks from professionals in the industry,
            Unity workshops, and our very own hackathon!</p>
        </div>
    </div>
    <div class="container row">

    </div>
  </div>