<div align="center" class="events">
    <div class="box">
        <img id="events-img" src="/assets/events_top.jpg" alt="workshop event"/>
        <div class="transparent-layer"></div>
        <div class="container img-text">
            <h1>Events</h1>
            <p>Our events are open to anyone with an interest in game development.
            In the past, they have included talks from professionals in the industry,
            Unity workshops, and our very own hackathon!</p>
        </div>
    </div>
    <div class="container row">
        <section align="center" id="upcoming-events" class="col-md events-section">
            <h2>Upcoming Events</h2>
            <div *ngFor="let event of upcomingEvents">
                <app-event-card [event]="event"></app-event-card>
            </div>
            <div *ngIf="upcomingEvents.length === 0">
                <div class="alert alert-info">
                    No upcoming events right now but follow our Facebook to stay tuned!
                </div>
            </div>
        </section>
        <section align="center" id="past-events" class="col-md events-section">
            <h2>Past Events</h2>
            <div *ngFor="let event of pastEvents">
                <app-event-card [event]="event"></app-event-card>
            </div>
        </section>
    </div>
  </div>