<div class="container gallery">
    <h1>Gallery</h1>
    <p>Photos from some of our past events!</p>
    <div class="container row text-center albums">
        <section class="col-md events-section">
            <h2>Our Workshops</h2>
            <a href="https://photos.app.goo.gl/cx7i6zDvjqAtwAto9">
                <img src="/assets/workshop.jpg">
            </a>
        </section>
        <section id="past-events" class="col-md events-section">
            <h2>GameJam</h2>
            <a href="https://photos.app.goo.gl/5ZikHag4wjUB8gMv6">
                <img src="/assets/tutorials_landing.jpg">
            </a>
        </section>
    </div>
</div>