<div class='container contact-container'>
    <section class='my-5 contact-section'>
        <h2 class='h1-responsive font-weight-bold textcenter my-5'>Contact Us</h2>
        <p class="text-center w-responsive mx-auto mb-5">If you have any questions about what we do, our events or sponsorship, please do get in touch!</p>
        <div class="row">
            <div class="col-md-9 mb-md-0 mb-5">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                          <div class="md-form mb-0">
                                <input type="text" id="contact-name" class="form-control" required/>
                                <label htmlFor="contact-name" class="">Your name</label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="md-form mb-0">
                                <input type="email" id="contact-email" class="form-control" required/>
                                <label htmlFor="contact-email" class="">Your email</label>
                          </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-md-12">
                          <div class="md-form mb-0">
                                <input type="text" id="contact-Subject" class="form-control" required/>
                                <label htmlFor="contact-Subject" class="">Subject</label>
                          </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-md-12">
                          <div class="md-form">
                                <textarea id="contact-message" class="form-control md-textarea" rows="3" required></textarea>
                                <label htmlFor="contact-message">Your message</label>
                          </div>
                        </div>
                  </div>
                  <div class="text-center text-md-right">
                      <button type="submit" class="btn btn-primary btn-md">Send</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                  <li>
                      <a href="mailto:gamedev@unicsmcr.com">
                          <i class="fa fa-envelope fa-2x mt-4 blue-text"></i>
                          <p class="mb-0">gamedev@unicsmcr.com</p>
                      </a>
                  </li>
        <li>
                      <a href="http://m.me/UniCsGameDev">
                          <i class="fa fa-facebook-square fa-2x mt-4 blue-text"></i>
                          <p class="mb-0">Chat with us on Facebook</p>
                      </a>
                  </li>
                </ul>
          </div>
        </div>
    </section>
</div>