<div align="center" class="tutorials">
    <div class="box">
        <picture>
            <source srcset="/assets/tutorials_landing.webp" type="image/webp">
            <source srcset="/assets/tutorials_landing.jpg" type="image/jpeg">
            <img id="tutorials-img" src="/assets/tutorials_landing.jpg" alt="gamejam event">
        </picture>
        <div class="transparent-layer"></div>
        <div class="container img-text">
            <h1>Tutorials</h1>
            <p>Stay tuned by following us on social media for something exciting coming soon!</p>
        </div>
    </div>
</div>