<div id="home">
    <div id="home">
        <div class="box">
          <img id="home-img" src='/assets/home_top.jpeg' alt="GameDev Logo"/>
        </div>
        <div id="about-us">
          <h1>About Us</h1>
          <p>GameDev is the game development society of The University of Manchester.
          We are a passionate and determined group of developers who are curious to learn
          about the up and coming technologies within the gaming industry and share what we
          learn with others. We do this through our regular workshops and talks
          that anyone is able to attend. In addition to that, we also invite industry leaders
          to come and share their insights and ideas with our budding community.
          We also host an annual game-themed hackathon, called GameJam where participants
          try to make video games from scratch.</p>
        </div>
        <div id="wave">
          <svg viewBox="0 0 500 150" preserveAspectRatio="none">
            <path d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z"></path>
          </svg>
        </div>
        <div id="team" align="center" class="container">
          <h1>Meet the Team</h1>
          <div class="row">
            <div class="col-md team-member">
              <img src="/assets/Diana_Dobrescu.jpg" alt="Diana Dobrescu"/>
              <p class="member-name">Diana Dobrescu</p>
              <p class="member-role">Co-Director</p>
            </div>

            <div class="col-md team-member">
              <img src="/assets/Gurneet_Bhatia.png" alt="Gurneet Bhatia"/>
                <p class="member-name">Gurneet Bhatia</p>
                <p class="member-role">Co-Director</p>
            </div>
          </div>
        </div>
      </div>
</div>