<footer class="pagefooter special-color border-bottom">
    <div class="container">
        <div class="row justify-content-center page-links">
            <a class="column social-media align-self-center" rel="noopener" target="_blank" href="https://www.instagram.com/gamedev2019/"><i class="fa fa-instagram" aria-hidden="true"></i></a>

            <a class="column social-media" rel="noopener" target="_blank" href="https://www.facebook.com/UniCsGameDev"><i class="fa fa-facebook fa-md" aria-hidden="true"></i></a>

            <a class="column social-media" rel="noopener" target="_blank" href="https://gitlab.cs.man.ac.uk/unics-game-development"><i class="fa fa-gitlab fa-md" aria-hidden="true"></i></a>
        </div>
        <div class="footer-copyright text-center text-muted">
            UniCS GameDev © 2020
        </div>
    </div>
</footer>